{% load static %}

<header>
  <div class="fixed-top">
    <div class="collapse bg-dark" id="navbarHeader">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-md-7 py-4">
            <a href="{% url 'about' %}" class="navbar-brand d-flex align-items-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" focusable="false"
                class="bi bi-house-door-fill mr-2" viewBox="0 0 16 16" aria-hidden="true">
                <path
                  d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5z" />
              </svg>
              <h4 class="text-white">About author</h4>
              {% if 'about' in request.path %}
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="27" fill="white" focusable="false"
                class="bi bi-house-door-fill" aria-hidden="true">
                <circle cx="12" cy="13" r="4"></circle>
              </svg>
              {% endif %}
            </a>
            <p class="text-muted">Ut ut lectus mattis, egestas purus eu, consectetur tortor. Ut interdum enim orci, in
              varius purus tempus quis. Aenean ante est, hendrerit vitae fringilla vitae, semper in dolor.</p>
          </div>
          <div class="col-sm-4 offset-md-1 py-4">
            <h4 class="text-white">Contact</h4>
            <ul class="list-unstyled">
              <li><a href="https://twitter.com/lestgtav" class="text-white">Follow on Twitter</a></li>
              <li><a href="https://www.facebook.com/lester.crest.92123" class="text-white">Like on Facebook</a></li>
              <li><a href="{% url 'contact' %}" class="text-white">Email me</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="navbar navbar-dark bg-dark shadow-sm">
      <div class="container d-flex justify-content-between">
        <a href="{% url 'index' %}" class="navbar-brand d-flex align-items-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" focusable="false"
            class="bi bi-house-door-fill mr-2" viewBox="0 0 16 16" aria-hidden="true">
            <path
              d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5z" />
          </svg>
          <strong>Homepage</strong>
          {% if '/' == request.path %}
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" focusable="false"
            class="bi bi-house-door-fill" aria-hidden="true">
            <circle cx="12" cy="13" r="4"></circle>
          </svg>
          {% endif %}
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader"
          aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
  </div>
</header>