{% extends 'base.html' %}

{% load static %}
{% load humanize %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/index.css' %}">

<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1>Album example</h1>
      <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator,
        etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        {% if posts %}
        {% for post in posts %}
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="{{ post.photo.url }}"
              alt="{{ post.photo_description }}">
            <div class="card-body">
              <p class="card-text">{{ post.title }}.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="{% url 'post' post.id %}" class="btn btn-sm btn-outline-secondary" role="button">View</a>
                </div>
                <small class="text-muted">{{ post.date_added | naturaltime }}</small>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="col-md-12">
          <p>No posts available</p>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</main>

{% endblock %}