.card-text {
  font-size: 25px;
}

.jumbotron {
  padding-top: 5rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
}

#post-paragraph {
  font-size: 24px;
  font-weight: 300;
  -webkit-font-smoothing: subpixel-antialiased;
  margin-top: 0px;
}

span {
  font-size: 16px;
  font-style: italic;
  margin-top: 20px;
  padding-left: 10px;
  /* display: inline-block; */
}